/* Grundlegendes Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e5ffe5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Logo Styling */
.logo {
    font-size: 48px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 128, 0, 0.7); /* Halbtransparentes Grün */
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Kopfbereich */
header {
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header h2 {
    margin-top: 10px;
}

/* Über mich Abschnitt */
.about-me {
    padding: 20px;
    text-align: center;
    background-color: #f0fff0;
    color: #333;
}

.about-me h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
}

/* Ziele Abschnitt */
.my-goals {
    padding: 20px;
    background-color: #f0fff0;
}

.my-goals h3 {
    text-align: center;
    font-size: 28px;
    color: #008000;
}

.my-goals ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

.my-goals li {
    background-color: #d0ffd0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* Kontaktbutton */
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.contact-button:hover {
    background-color: #006600;
}

/* Fußzeile */
footer {
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 20px;
}

footer h4 {
    margin: 0;
    font-size: 24px;
}

footer p {
    margin: 10px 0 0;
    font-size: 16px;
}
